<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <test name="Smoke Test">
<!--        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>-->
        <classes>
            <class name="tests.JavaScriptAlertsTest"/>
            <class name="tests.LoginTest">
<!--                <methods>-->
<!--                    <exclude name="invalidUsernameLogin"/>-->
<!--                </methods>-->
            </class>
        <class name="tests.ExampleOneTest"/>
        </classes>
    </test>

</suite>